.bgimage::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background-image: url("../images/back-ground-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* Optional: Set a fixed background attachment if needed */
    background-attachment: fixed;
    z-index: -1;

}


.work::before{
    content: "";
    position: absolute;
    left: 5px;
    width: 98vw;
    height: 100%;
    background-image: url("../images/work.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* Optional: Set a fixed background attachment if needed */
    background-attachment: fixed;
    

    opacity: 0.5;
    z-index: -1;

}
.work{
    margin-top: 80px;
}

.main-image{
    position: relative;
    bottom: 40px;
    left: 35px;
}

@media (max-width: 767px) {
    img.main-image {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    div.work::before{
        display: none;
    }
    div.work{
        background-color: aquamarine;
    }
    div.bgimage::before{
        height: 155%;
    }
  }

.mynavbar{
    margin-top: 20px;
    position: absolute;
}