.bgimage::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background-image: url("../images/back-ground-image.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* Optional: Set a fixed background attachment if needed */
    background-attachment: fixed;
    z-index: -1;

}

body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}