<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Your Portfolio</title>
  <!-- Bootstrap CSS via CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <!-- AOS CSS via CDN -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css">

  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

  <div class="container bgimage">
    <!-- Header Section -->
    <nav class="navbar navbar-expand-lg mynavbar">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link lead h1" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link lead h1" href="#work">Work</a>
          </li>
          <!-- Add more navbar items as needed -->
        </ul>
      </div>
    </nav>

    <header class="text-center my-5">
      <h1 data-aos="fade-up" id="main_heading">Welcome to My Portfolio</h1>
      <p class="lead" data-aos="fade-up" data-aos-delay="200">Web Developer with expertise In Python, PHP and JavaScript
      </p>
    </header>

    <!-- About Section -->
    <section id="about" class="py-5">
      <div class="row">
        <div class="col-md-6" data-aos="fade-right">
          <img src="{{url_for('static' , filename='images/img.jpg')}}" alt="Your Image"
            class="img-fluid rounded-circle main-image" width='200' height='200'>
        </div>
        <div class="col-md-6 my-auto" data-aos="fade-left">
          <h2>About Me</h2>
          <p>
            Experienced and versatile web developer with a strong passion for creating visually stunning and
            user-friendly websites. Proficient in front-end technologies like HTML, CSS, and JavaScript, as well as
            back-end frameworks like Django and Flask. Skilled in building custom WordPress themes and plugins for
            seamless content management. Python enthusiast with expertise in developing data-driven applications and
            automation tools. Diligent problem-solver, committed to delivering high-quality code and exceeding client
            expectations. Adaptable team player, eager to collaborate on innovative projects and contribute to
            cutting-edge solutions. Seeking new challenges to leverage my skills and contribute to the dynamic world of
            web development.
          </p>
        </div>
      </div>
    </section>

    <!-- Work Section -->
    <div class="container work">
      <section id="work" class="py-5">
        <h2 class="text-center mb-4" data-aos="fade-up">My Work</h2>
        <div class="row">
          <!-- Add your work projects here with appropriate images and descriptions -->
          <div class="col-md-4 mb-4" data-aos="fade-up">
            <div class="card">
              <img src="{{url_for('static', filename='images/pic3.png')}}" class="card-img-top" alt="Work Image 1">
              <div class="card-body">
                <h5 class="card-title">Ecomerce Website</h5>
                <p class="card-text">a web application built using Django, which serves as an online store for various
                  products. Users can browse different categories, view product details, add items to their cart, and
                  proceed to checkout.</p>
                <a href="http://sherafzalkhan.pythonanywhere.com/">click here to visit</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4" data-aos="fade-up" data-aos-delay="100">
            <div class="card">
              <img src="{{url_for('static' , filename='images/semaphore.png')}}" class="card-img-top"
                alt="Work Image 2">
              <div class="card-body">
                <h5 class="card-title">Semaphore implementation</h5>
                <p class="card-text">Python implementation of a semaphore . It includes a graphical user interface built
                  with Tkinter that allows users to enter the number of resources and threads, and start the execution.
                </p>
                <a href="https://github.com/sherAfzal861/semaphore.git">view source code</a>
              </div>
            </div>
          </div>
          <div class="col-md-4 mb-4" data-aos="fade-up" data-aos-delay="200">
            <div class="card">
              <img src="{{url_for('static' , filename='images/note-keeping.png')}}" class="card-img-top"
                alt="Work Image 3">
              <div class="card-body">
                <h5 class="card-title">note keeping API in Flask</h5>
                <p class="card-text">An API which keep records of different peoples and also keeps records of notes
                  related to each of person . all of CURD operations are implemented . User can read, update, delete and
                  add records and people</p>
                <a href="https://github.com/sherAfzal861/flask_api.git">view source code</a>
              </div>
            </div>
          </div>
        </div>
      </section>

    </div>
    <!-- Add more sections as needed -->

  </div>
  {% include 'footer.html' %}


  <!-- Bootstrap JS via CDN -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <!-- AOS JS via CDN -->
  <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>

  <!-- Initialize AOS -->
  <script>
    AOS.init({
      once: true // Set to true if you want animations to happen only once
    });
  </script>
</body>

</html>